.card{
    transform-style: preserve-3d;
    transition: all 1s cubic-bezier(0.7, -.5, 0.3, 1.8);
}

.front{
    backface-visibility: hidden;
}

.back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.cardFlip{
    transform: rotateY(180deg);
}